[submodule ".registry"]
	path = .registry
	url = https://github.com/inrae/inrae.r-universe.dev
	branch = HEAD
[submodule "CAWET"]
	path = CAWET
	url = https://forge.inrae.fr/umr-g-eau/cawet
	branch = main
[submodule "CropWat"]
	path = CropWat
	url = https://forge.inrae.fr/umr-g-eau/cropwat
	branch = main
[submodule "IDEATools"]
	path = IDEATools
	url = https://github.com/davidcarayon/ideatools
[submodule "OptirrigCORE"]
	path = OptirrigCORE
	url = https://forge.inrae.fr/OptirrigHIVE/OptirrigCORE
	branch = main
[submodule "OptirrigTOOLS"]
	path = OptirrigTOOLS
	url = https://forge.inrae.fr/OptirrigHIVE/OptirrigTOOLS
	branch = main
[submodule "OptirrigVIEW"]
	path = OptirrigVIEW
	url = https://forge.inrae.fr/OptirrigHIVE/OptirrigVIEW
	branch = main
[submodule "RADIS"]
	path = RADIS
	url = https://forge.inrae.fr/umr-g-eau/radis
	branch = main
[submodule "airGRccia"]
	path = airGRccia
	url = https://forge.inrae.fr/airgriwrm/airgrccia
	branch = main
[submodule "airGRiwrm"]
	path = airGRiwrm
	url = https://github.com/inrae/airGRiwrm
[submodule "datagouvfr"]
	path = datagouvfr
	url = https://forge.inrae.fr/umr-g-eau/datagouvfr
[submodule "hubeau"]
	path = hubeau
	url = https://github.com/inrae/hubeau
[submodule "martelosim"]
	path = martelosim
	url = https://forge.inrae.fr/lessem/rpackages/martelosim
[submodule "matreex"]
	path = matreex
	url = https://forge.inrae.fr/lessem/rpackages/matreex
