[submodule ".registry"]
	path = .registry
	url = https://github.com/inrae/inrae.r-universe.dev
	branch = HEAD
[submodule "CropWat"]
	path = CropWat
	url = https://forge.inrae.fr/umr-g-eau/cropwat
[submodule "RADIS"]
	path = RADIS
	url = https://forge.inrae.fr/umr-g-eau/radis
[submodule "aigriwrm"]
	path = aigriwrm
	url = https://github.com/inrae/aigriwrm
[submodule "airgrccia"]
	path = airgrccia
	url = https://forge.inrae.fr/airgriwrm/airgrccia
[submodule "datagouvfr"]
	path = datagouvfr
	url = https://forge.inrae.fr/umr-g-eau/datagouvfr
[submodule "hubeau"]
	path = hubeau
	url = https://github.com/inrae/hubeau
