[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "airGRiwrm"]
	path = airGRiwrm
	url = https://github.com/inrae/airgriwrm
	shallow = true
	registered = true
